/* cabeçalho */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* Seção principal */
.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap; /*evita a quebra de espaços em branco dentro de um elemento, não é propriedade do flexbox*/
    overflow-x: scroll; /*cria barra de rolagem no eixo X de algum elemento*/
    gap: 15px;
}


/* rodapé  */

.rodape__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}    


/* Media querie tablet */
@media screen and (min-width: 834px) {
    /* header */
    .cabecalho__pesquisar__item {
        display: block;
    }

    /* footer */
    .rodape__container{
        justify-content: space-between;
    }

}


